@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #131316;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6d5d5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.active-link {
  @apply text-accent border-l-2 border-accent;
}

.pill {
  @apply border-2 border-[#EFF1F6] rounded-full py-2 px-4 font-semibold hover:bg-[#FFEEE5] 
  hover:border-accent hover:text-accent transition-colors;
}

.active-pill {
  @apply border-accent bg-[#FFEEE5] text-accent;
}
